{# Molecule stub – minimal template for integration testing.           #}
{# In production this file lives in the wiki-factory project.          #}
version: '3'
services:
  wiki:
    image: "{{ WIKI_IMAGE }}"
